.myclass{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
  background-color: white;
}
.a{
  text-align: center;
}
img{
  max-width: 600px;
  height: auto;
}
body{
  background-color: #84a98c;
}
